[2014-04-07 19:42] smathermather opened #2 "No node nor make available when running set-stuff-up.sh"

[2014-04-09 01:53] #2 closed, assigned to nobody

[2014-09-30 21:42] connormanning opened #4 "Document Greyhound dimensions"
Related to PDAL/PDAL#481.

Greyhound documentation should refer to a list of supported PDAL Dimensions since the Dimension names will show up in the Greyhound schema.

[2014-10-02 19:31] connormanning opened #5 "Return schema with Read results"
An invalid PDAL Dimension name will be silently omitted from the binary results of a Read command.  Currently, clients should base their requested schemas on the results of the Schema command, however it would be useful to provide the ability for a client to use a static schema with all the Dimensions they recognize/care about.

E.g. a rendering client could always send XYZRGBI, and a missing 'Int

[2014-10-02 19:36] connormanning opened #6 "Serialization"
We shouldn't need to store every active pipeline's PointBuffer and KD/Quad index in RAM.  Allow serialization to disk.

[2014-10-05 13:08] hobu opened #7 "Use gh-pages for greyhound.io"
github pages should be plenty powerful enough for Greyhounds docs. Let's setup the DNS so greyhound.io points to gh-pages.

Also, move the DNS to be hosted by route53 instead of Gandi

[2014-10-15 12:46] connormanning opened #8 "Document configuration"
Need to document configuration options - i.e. `config.js` and the `frontend-proxy` configs.

[2014-10-15 12:49] connormanning opened #9 "Document READ decision tree"
The decision tree for determining the type of `read` needs to be documented.  Currently a user needs to look at the actual code in `session-handler/app.js` to figure it out.

[2014-10-24 15:46] connormanning opened #10 "'Hole' determination for raster queries"
Currently there's a byte prepended to each point in a raster that acts as a boolean for whether the point exists or is a hole.  Lots of overhead there.  Should probably be a bitmap in the initial non-binary response, and also needs to be described in the client doc.

[2014-10-24 16:26] connormanning opened #11 "Expose quad-tree depth to clients"
Quad-tree max depth and maybe points-per-depth would be useful to clients, and are already calculated in the PDAL quad-tree.

[2014-10-24 17:18] connormanning opened #12 "WebSocket connection termination should auto-destroy"
Call `destroy` on a session if the WebSocket connection is terminated.

[2014-10-24 17:19] connormanning opened #13 "Session sharing counts for idle sessions"
Clients that are idle and connected for a long time (without destroying their session) are still included in the session sharing counts but aren't contributing to session usage.  If a connection remains open and is idle for `someNewConfigParameter` amount of time, it should not contribute to the session sharing counts.

[2014-10-24 20:43] connormanning opened #14 "Architecture diagram"
Need updated component architecture diagram for deployment documentation.

[2014-10-26 17:33] connormanning opened #15 "rst2pdf bulleted list style"
Bulleted list lines seem to overlap slightly:

![screen shot 2014-10-26 at 12 31 56 pm](https://cloud.githubusercontent.com/assets/5015470/4783793/09d90fa8-5d36-11e4-91a8-6f02f80fc6b9.png)

[2014-10-26 17:34] connormanning opened #16 "Table of contents for docs"
Client dev & deployment docs need tables of contents.

[2014-11-10 16:34] connormanning opened #17 "'stop' command errors on disabled components"
`greyhound stop` tosses out errors trying to stop disabled components.

[2014-11-11 16:15] #17 closed, assigned to nobody

[2014-11-11 16:41] #8 closed, assigned to connormanning

[2014-11-11 21:03] #11 closed, assigned to connormanning

[2014-11-14 16:44] connormanning opened #18 "PdalBindings makes an unnecessary copy"
The 2-argument version of `node::Buffer::new` makes a copy.  We should use the 4-argument version with an explicit cleanup function to avoid the (potentially very large) copy/reallocation.

[2014-11-14 16:46] #12 closed, assigned to connormanning

[2014-12-31 22:34] #18 closed, assigned to connormanning

[2014-12-31 22:35] #6 closed, assigned to nobody

[2015-01-28 15:29] verma opened #19 "Custom headers need prefix"
May be something like X-greyhound-read-id or something?

[2015-01-28 15:29] verma opened #20 "Schema request returns schema as a string"
Could it not be a JSON object?

[2015-01-28 15:54] verma commented on #20
My bad, I meant stats

[2015-01-28 15:54] #20 closed

[2015-01-28 15:54] verma opened #21 "Stats are returned as strings instead of a JSON object"
could be JSON object?

[2015-01-28 16:12] connormanning commented on #19
All prefixed with `X-Greyhound-` at fc27a7af86b8b42c3d10095ca02b3215d0f79348.

[2015-01-28 16:12] #19 closed

[2015-01-28 16:12] connormanning commented on #21
Changed to object at fc27a7af86b8b42c3d10095ca02b3215d0f79348.

[2015-01-28 16:12] #21 closed

[2015-01-31 18:21] verma opened #22 "When an invalid pipeline is specified, 404 needs to be returned"
But instead 500 with message `No db service found` is returned.

[2015-01-31 18:41] verma opened #23 "stats call should return 404 when an invalid pipeline is specified"
Right now it return 200 OK and then says `status = false`.

[2015-01-31 18:46] verma opened #24 "greyhound server should allow CORS"
Greyhound HTTP server should expose CORS functionality which could default to '*' for now.

[2015-02-01 05:47] connormanning commented on #24
Should be addressed at 0f4139ae0d8497125816b0ebba32ac9d031323ca.

[2015-02-01 05:47] #24 closed

[2015-05-11 11:24] vpicavet opened #25 "put-pipeline hangs forever"
Steps to reproduce :
[code]

There it hangs forever. No error message, no information displayed. Same with AZ stadium.

[2015-05-11 11:26] vpicavet opened #26 "API entry to list all pipelines"
There seems to be no API call to list available pipelines.

How can get a list of pipelines served by greyhound, and metadata on them ? Any other non-API solution ?

An http call would be convenient, especially if it returns the pipeline coverage.

[2015-05-11 16:41] connormanning commented on #25
This was due to NPM's default hipache installation having a bad version of dependency `http-proxy` (see https://github.com/hipache/hipache/issues/225), so Greyhound wasn't starting properly.  Fixed in c99bfabced867d892ca490f208d7ff7ae1f9cc76.

[2015-05-11 16:41] #25 closed

[2015-05-11 16:41] vpicavet commented on #25
Great, thanks !

[2015-08-19 21:06] connormanning commented on #23
Invalid resources now return 404.

[2015-08-19 21:06] #23 closed

[2015-08-19 21:07] connormanning commented on #22
Invalid resources now return 404.

[2015-08-19 21:07] #22 closed

[2015-08-19 21:08] connormanning commented on #14
Not needed with new architecture.

[2015-08-19 21:08] #14 closed

[2015-08-19 21:12] connormanning commented on #13
Session sharing counts no longer used.

[2015-08-19 21:12] #13 closed

[2015-08-19 21:12] connormanning commented on #10
No longer supported.

[2015-08-19 21:12] #10 closed

[2015-08-19 21:13] connormanning commented on #5
Invalid dimensions are no longer handled in a way that makes this necessary.

[2015-08-19 21:13] #5 closed

[2015-08-19 21:13] #9 closed

[2015-08-19 21:13] #16 closed

[2015-11-24 20:00] hobu opened #27 "Support CesiumJS mesh format"
https://github.com/AnalyticalGraphicsInc/quantized-mesh

[2016-02-24 17:39] hobu opened #28 "Adaptive coordinate quantization"
@LAStools pointed out that we don't need to give full coordinate precision to the client if it doesn't need it. The benefit of not doing that is the compression could be much higher for data that has 0.1 vs 0.01 coordinate precision.

The idea is the client would ask for a quantization level as part of the dimension request, and when the chunks are compressed, they are quantized to that.

[2016-02-24 17:46] connormanning commented on #28
Already done.

[2016-02-24 17:46] #28 closed

[2016-09-19 18:13] smercier opened #30 "Greyhound service not responding"
I have install a Docker container for a Greyhound service on a server.  Time to time the service going down without any relevant details through docker logs.  The info request never respond (/resource/270_merge_3857/info) and Greyhound docker container need to be restarted to get back on track.  Where should I look to have more info on this problem. Is it a Docker, Greyhound or Entwine index confi

[2016-09-19 18:25] connormanning commented on #30
My first guess would be Greyhound.  What sort of logs do you see before the failure?

Does the server launch with logs that look like this?
[code]

Any logging after that once you attempt to load the resource?  Also, is this data public?  If so I could try to reproduce locally.

[2016-09-19 18:50] smercier commented on #30
Not public data but I'll ask to customer and send you a link if needed.  When I start Greyhound container, my log is:

[code]

here's log before failure

[code]

[2016-09-20 02:53] smercier commented on #30
Hi Connor,

I have some news on this issue.  The `RDP_RMI` resource was transfert on server for publishing with an `rsync` command before while an other process was running a `entwine build` command (on the same laptop).   So the entwine index was corrupted or uncompleted and Greyhound crash on a reading query.  I'm not sure if customer was trying to read resource while he was copying entwine inde

[2016-09-20 03:06] connormanning commented on #30
Thanks for the update.  Were you able to reach the resource successfully with Greyhound after the full entwine index was loaded?

Of course, either way, crashing is not the appropriate response from Greyhound.  I may make a separate issue to more robustly handle some error cases within Greyhound to ensure appropriate responses for cases like this.  Hopefully you are able to continue with your work

[2016-09-20 14:03] smercier commented on #30
Yes after restarting Greyhound container, we were able to open it in the viewer.

Here's the log of an other failure this morning.

[code]

Download laz here :http://dl.mapgears.com/270_merge.laz

Create the entwine index:
`docker run -it -v /opt/data/greyhound/:/data connormanning/entwine entwine build -r EPSG:2950 EPSG:3857 -i /data/270_merge.laz -o /data/270_merge_3857`

We using Potree entwine

[2016-09-20 15:48] connormanning commented on #30
Thanks for the data - I've got it built locally and have been browsing around.  So far I've been unable to replicate the issue in Potree.  From those logs, my guess is that your Greyhound container may be running low on memory, causing the requests to hang.  The `- -` in the log indicates that the request never receives a response, but did not crash or cause an explicit error.

Have you checked th

[2016-10-04 12:31] tomvantilburg opened #33 "Not building: no matching function for call to ‘entwine::Reader::query(..."
Running into a compilation error on:
- Ubuntu 16.04 64bit
- PDAL 1.3.0 with lazperf
- entwine build from master without errors in /usr/local/include/entwine/
- latest greyhound pull from master

[code]

[2016-10-04 13:53] connormanning commented on #33
Oops, the Greyhound build was out of sync with Entwine's API.  I've merged #32, which syncs them, so please re-pull and try again.  A fresh docker image is currently being pushed (very slowly), and the npm package has been updated.

Can you also clarify - what was your build command to get this error?

[2016-10-04 14:20] tomvantilburg commented on #33
Yes, works!
Build was just the npm install on the latest git master, I've attached the full output.
[stacktrace_greyhound.txt](https://github.com/hobu/greyhound/files/508678/stacktrace_greyhound.txt)

[2016-10-17 03:22] smercier commented on #30
Hi

after a greyhound container update, I try to set chunkCacheSize to 24 (greyhound crash ).  I create a config file (`/var/greyhound/config.json`) but when I restart container, change is not apply. If I connect to greyhound container and I try `greyhound -c /var/greyhound/config.json` or `greyhound dockerstart` I have this loop error:

[code]

How can I restart container with custom config file?

[2016-10-17 15:10] connormanning commented on #30
Personally I'd just restart the container completely pointing at your new configuration.  If you want to use the same container, in f09de45 I've added a name to the monitoring task (re-pull docker to get it), so you can kill greyhound with something like `kill -9 $(pidof greyhound-monitor)`.

By the way, launching with a custom config is now simpler than my previous comment, just use `-c` with no

[2016-10-18 13:50] smercier commented on #30
I try it with the new `-c` option. It seems to work but  `Chunk cache size: undefined` in log. How can I know if greyhound really use my custom chunksize or it's a bug?

[code]

[2016-10-18 14:16] connormanning commented on #30
Ah, sorry about that.  In this wave of simplifications I've been doing I tweaked that configuration format, but I haven't yet pushed the new documentation.  It should work if you remove the `queryLimits` key, and make it look like this:

[code]

[2016-12-16 16:47] #4 closed

[2016-12-27 18:08] hobu opened #34 "Alternative compression requests"
We just have uncompressed and lazperf at the moment. It would be useful to allow alternatives like deflate to be requested for clients that couldn't speak the more efficient lazperf.

[2017-01-20 15:16] #7 closed

[2017-01-20 15:18] hobu opened #36 "No LICENSE specified"
Greyhound is released under an Apache 2.0 license. It should be stated as such in the repository.

[2017-02-24 23:09] pogilon opened #38 "How can I make this work quick on amazon aws?"

[2017-02-24 23:13] connormanning commented on #38
Install docker on an EC2 instance, write Entwine data to the local EBS volume or to S3 depending the size of your data, and then run Greyhound via Docker in EC2.  You'll need to be more specific beyond that - you'd run it the same way as you run locally, but in AWS's infrastructure.

[2017-02-24 23:13] #38 closed

[2017-02-24 23:25] connormanning commented on #38
The Greyhound back-end serving [speck.ly](http://speck.ly) and [potree.entwine.io](http://potree.entwine.io) is a c3.2xlarge instance, by the way.  I recommend the c3 line of instances for Greyhound/Entwine stuff.

[2017-03-13 14:05] chambbj opened #39 "Poorly formed read request with bounds parameter should return status code of 400"
User should get a HTTP status code of 400 when incorrectly entering the bounds.

For example,

[code]

where the `=` is missing after `bounds`, currently returns status code of 500 with a rather cryptic error message of `"Unexpected token o"`.

[2017-04-29 22:42] pogilon opened #40 "Error: no such file or directory when using config.json file"
Hello,

I am received the error below when trying to use a config.json file using the command "sudo docker run -it -p 8088:8080 connormanning/greyhound -c /path/to/config/file". What do you think could be the problem? Thanks!

LOG Using config at /path/to/config/file
fs.js:549
  return binding.open(pathModule._makeLong(path), stringToFlags(flags), mode);
                 ^

Error: ENOENT: no such

[2017-04-30 21:55] pogilon commented on #40
@connormanning  maybe there is a problem in the way I am defining the "/path/to/config/file". I also tried "sudo docker run -it -p 8080:8080 -v ~/greyhound:/greyhound connormanning/greyhound -c  /path/to/config/file/" without luck

[2017-04-30 22:36] pogilon commented on #40
@connormanning  I have rechecked the path many times :(

[2017-04-30 23:13] connormanning commented on #40
A little confused.  Can you tell me:

- The path to the configuration file you're trying to use (on your local hard drive)
- Your exact docker command including all volume mappings

[2017-05-01 01:22] pogilon commented on #40
@connormanning

The exact docker command I was using was: "sudo docker run -it -p 8080:8080 -v ~/greyhound:/greyhound connormanning/greyhound -c ~/Documents/config.json"

and the configuration file is located in "~/Documents/config.json" in the local hard drive. I believe I may have a misunderstanding of how the docker volumes work. Thanks!

[2017-05-01 01:49] connormanning commented on #40
Yeah looks like a volume mapping issue.  Since you've only mapped `~/greyhound` from your local drive, that's all that's accessible within docker.  So you'll need to map `~/Documents` as well, and then refer to your mapping within docker.  Try this:

`sudo docker run -it -p 8080:8080 -v ~/greyhound:/greyhound -v ~/Documents:/opt/documents connormanning/greyhound -c /opt/documents/config.json`

[2017-05-01 03:06] pogilon commented on #38
@connormanning thank you, very useful :)

[2017-05-01 03:09] pogilon commented on #40
@connormanning  thank you, perfect!

[2017-05-31 16:20] pogilon opened #41 "Reservation failure"
Hello @connormanning. Could you please guide me through what could be this issue? Thanks! I get the following error at some point during serving a 300M point cloud.

Exception in pool task: std::bad_alloc
16:07:02:11 LOG Error handling: { code: 400, message: 'Reservation failure' }

[2017-05-31 17:36] pogilon commented on #41
I think the computer just run out of RAM memory...

[2017-05-31 17:43] connormanning commented on #41
I agree, looks like you're out of memory.  What are your server system specs like - how much RAM?  What is the `cacheSize` setting in your configuration file?

[2017-05-31 18:52] pogilon commented on #41
I had a 4 GB ram computer with 1 cacheSize

[2017-06-12 15:16] pogilon commented on #41
@connormanning any ideas? Thanks!

[2017-06-12 15:44] connormanning commented on #41
You might try lowering your `cacheSize`.  The `cacheSize` does not represent the total memory that Greyhound can use - only the size allowed for a specific portion of its memory usage.  The actual memory usage is correlated, but not limited to, this value.  Maybe try `512 MB`.

You should also add your machine's instance store as swap space.  For the `c3` line of instances, that looks like:
[code]

[2017-06-26 22:39] pogilon opened #42 "Authentication Information"
Hello @connormanning, could you please give more details about how to use the authentication functionality of greyhound? I am trying to add this feature in an EC2 instance. Thanks!

[2017-06-26 22:42] pogilon commented on #42
@connormanning  mainly I am interested in how to configure the authentication server to make it work with greyhound. Thanks!

[2017-06-29 01:19] pogilon commented on #42
Hello @connormanning, I have been trying to configure an authentication server, but I don't see where or how greyhound will check for the cookie for a specific user and not a general cookie. Could you please let me know? Thanks!

[2017-06-29 01:36] connormanning commented on #42
See docs [here](https://github.com/hobu/greyhound/blob/master/doc/administration.rst#authentication-settings).  For authentication server functionality, your project needs to store a cookie that is identifiable to the current user, e.g. a login token.  Then set that user-identifiable cookie name as your configuration value for `auth.cookieName` to Greyhound.  Then your authentication server will r

[2017-06-29 03:08] pogilon commented on #42
@connormanning thank you. It just was not very clear to me the cookie workflow from the docs. Does Greyhound pick the login token cookie which name is specified in ("auth.cookieName") from the user and then validates it in the auth server t check for access to a resource? Thanks. I will give it a try.

[2017-06-29 03:49] connormanning commented on #42
Greyhound will make requests to `<your-auth-server>/<resource-requested>`, and will forward the cookie with the name `auth.cookieName` in this request.  The rest is up to your auth server - send a 200 or 4xx error with this information.

[2017-06-29 22:17] eric-schleicher opened #43 "fatal error C1083: Cannot open include file: 'json/json.h': No such file or directory [C:\Users\user\Documents\Git\fork\greyhound\build\session.vcxproj"
Hello,

Trying to get up and running with greyhound and running into this.  on the surface it looked like the much dreaded nodegyp rebuild problem that everyone just \*hates\* on windows...  but this looks a little different. citing a missing file.

`fatal error C1083: Cannot open include file: 'json/json.h': No such file or directory [C:\Users\user\Documents\Git\fork\greyhound\build\session.vcxpr

[2017-06-30 02:24] connormanning commented on #43
I'm not sure where the JSON stuff should live on Windows - things are currently assumed to be Unix-based so I don't have any good advice.  You will probably need to modify the [bindings.gyp file](https://github.com/hobu/greyhound/blob/master/binding.gyp) with search paths for include/linking to match your JSON installation.

[2017-07-12 23:20] JSFrias opened #44 "Problem decoding Greyhound Data upon Read"
I'm trying to work with the data returned by the greyhound read query.  It looks like I'm losing precision somewhere along the line.  Having written my own code I had assumed my struggles were a bug of mine. However I just discovered your own sample python code ( https://github.com/hobu/greyhound/pull/35/files ) that appears to have the same issue. Playing with the settings in this file, I run it

[2017-07-13 00:31] connormanning commented on #44
Can you reproduce this against something public so I can tweak the query around?  I have some ideas but no concrete suggestions without being able to fully reproduce.  For example with http://data.greyhound.io/resource/autzen.

Another thing that you might not be aware of you might like - instead of `/read`, you can use `/static`, which will statically render your query.  Query parameters will be

[2017-07-13 23:20] JSFrias commented on #44
Even though you didn't provide a solution, your answer was enough to inspire me to dig a little deeper.  So I've fixed my issue.  My sample data is mobile LiDAR that I indexed with a scale of .001.  I'm not sure if Greyhound defaults internally to serving data at .01 scale, but I went ahead and provided scale and offsets into my query. I also adjusted my x and y bounds parameters (as your document

[2017-07-15 14:12] pogilon opened #45 "Cannot enlarge memory arrays."
Hello @connormanning. With a new data, I am getting the following error in the browser coming from the greyhoundbinarydecoderworker.js. Any ideas what could it be or how to solve it? Thanks!

"Cannot enlarge memory arrays. Either (1) compile with -s TOTAL_MEMORY=X with X higher than the current value 117440512, (2) compile with ALLOW_MEMORY_GROWTH which adjusts the size at runtime but prevents som

[2017-07-15 14:13] pogilon commented on #42
Thank you @connormanning. I am still trying to solve it. It looks like it is always authenticating the user, even if it should not. Need to see why the authentication feature is not working. Thanks.

[2017-07-15 14:14] pogilon commented on #41
thank you, @connormanning I will let you know soon how it went.

[2017-07-15 14:48] pogilon commented on #45
Hello @connormanning. I just adjusted the TOTAL_MEMORY in the GreyhoundBinaryDecoderWorker.js" file. Could you please let me know what are the implications of increasing this value or what are those "some optimizations" that would be prevented if ALLOW_MEMORY_GROWTH is activated? Thanks!

[2017-07-18 16:46] #40 closed

[2017-07-18 16:46] #15 closed

[2017-07-18 16:47] #30 closed

[2017-07-18 16:55] #39 closed

[2017-07-18 16:59] connormanning commented on #44
👍 on resolving your query.  I'll close this since it seems to be working for you.  Feel free to reopen if you ever recreate your original query issue against something public so I can take a look with concrete data.

[2017-07-18 16:59] #44 closed

[2017-07-18 17:01] connormanning commented on #45
I don't know - you're talking about client settings of which I have little knowledge.  I've also never seen this error personally.  If you provide data I could try to recreate (in which case reopen this), but otherwise I have no ideas about this.

[2017-07-18 17:01] #45 closed

[2017-07-18 17:23] connormanning commented on #42
I've verified against a sample auth server that just sends `200` if the resource is `autzen` or `400` otherwise and it's working as intended:
[code]
...with Greyhound configuration:
[code]
I'd recommend building up from something trivial like this.

[2017-07-18 17:23] #42 closed

[2017-07-18 17:29] #43 closed

[2017-07-18 17:29] #33 closed

[2017-07-18 17:30] connormanning commented on #27
This is probably not needed since Entwine can output 3d-tiles now for Cesium integration.

[2017-07-18 17:30] #27 closed

[2017-07-18 17:33] #36 closed

[2017-07-21 03:21] pogilon commented on #42
thank you so much @connormanning . I am trying to run this example but I am always getting the following error from greyhound. What do you think it could be?
"""
LOG Auth proxy err: { [Error: connect ECONNREFUSED 127.0.0.1:8081]
  code: 'ECONNREFUSED',
  errno: 'ECONNREFUSED',
  syscall: 'connect',
  address: '127.0.0.1',
  port: 8081 }
03:21:18:69 LOG Error handling: { code: 500, message: 'Authen

[2017-07-21 03:43] pogilon commented on #42
@connormanning  just so you know. The error was that I needed to map the network to the docker container too. So that my host and docker container 127.0.0.1:8081 were the same. Thanks for everything. I think I got it from here.

[2017-07-28 17:47] pogilon commented on #41
Hello @connormanning. There is something going on that I noticed. Greyhound does not release the RAM memory after use. For example, if I use Greyhound to serve a 300 MM points model and it uses 4GB of RAM, the same RAM remains occupied many hours after. This RAM memory usage then stacks along multiple models. For example, If I serve a different model, 4GB of RAM more will be occupied and so on, li

[2017-08-07 20:00] gbivins opened #46 "API to get the meta-data of Greyhound server"
Greyhound is pretty awesome! I'm attempting to understand how I can go about writing a new client for it but I ran into a snag.  If I know the location of a greyhound server, I would like to be able to query things about the server without having to query the actual data it's serving. For instance, how do I know what point clouds are being hosted there? Is there an API to query things like:
   - I

[2017-08-08 14:38] connormanning commented on #46
There's currently no capability for listing available resources within Greyhound (although it has long been requested - see #26).  It's feasible that it could be added, although I'm unsure how it should work if Greyhound were configured with [external authentication](https://github.com/hobu/greyhound/blob/master/doc/administration.rst#authentication-settings), in which case you wouldn't really wan

[2017-08-15 17:36] gbivins commented on #46
Ok. So my "indexed" data resides somewhere known and I point greyhound at it. My app would use some other API/service that knows more info about the "indexed" data to get the meta data I'm interested in. Am I thinking about this correctly now?

[2017-08-15 18:15] connormanning commented on #46
Yes that's the current model.  If you can, feel free to share some information about your application - it always helps to know how people are using things for decisions going forward.

[2017-08-21 13:49] gbivins commented on #46
I'm basically trying to set this up on a cluster backed by AWS via [dcos ](https://dcos.io/).
Now that I have a better idea of the intended use of greyhound, I think my real problems are with the entwine setup/config.

[2017-08-21 13:49] #46 closed

[2017-10-17 13:53] hobu opened #47 "Add /serverinfo call"
It would be useful to have a `/serverinfo` call:
* git SHA
* version
* PDAL version info
* active memory consumption
* list of resources
* is append support enabled

[2017-10-17 22:23] hobu opened #48 "Optionally select for &resolution= vs. depthBegin and depthEnd"
Greyhound should be able to compute depthBegin and depthEnd for me if I give it a nominal voxel resolution.

[2017-10-19 16:06] hobu opened #49 "PDAL filtering"
It would be really useful to be able to post a PDAL filter blob and have it be executed on the data before being returned to the HTTP client.

[2017-10-19 16:12] hobu opened #50 "Data staging"
It would be useful for Greyhound to support data staging operations. For example, a big query returns ~20 million points. If the server supported staging (user configurable), the results of that query could be posted there and the URL returned to the caller (`&stage=true` or something).

[2017-10-19 16:19] hobu opened #51 "Service info improvements"
The `info` call needs to tell us some more stuff:

* user-specified metadata https://github.com/connormanning/entwine/issues/69
* Can we update this service?
* Is the service authenticated?
* Does the service support PDAL filtering #49
* Does the service support data staging #50

[2017-11-22 14:30] Hisol opened #52 "Endianness of binary data count incorrect"
The client documentation refers to the 32bit unsigned integer at the end of the point-cloud data as network byte order

Which is defined as being Big-Endian [https://www.ibm.com/support/knowledgecenter/en/SSB27U_6.4.0/com.ibm.zvm.v640.kiml0/asonetw.htm](IBM network byte order article)

However it seems that the server is returning the data in Little-Endian format (when running on an Intel architec

[2017-11-28 11:20] Hisol opened #53 "Read query returning zero results dependant on formatting of query data"
I am attempting to query data from Greyhound using scaling and offsets and am having some strange results that are not making any sense.

To test URLs I am also using Postman to send the URLs generated by my client to check they are valid and the server responds.

What I have seen is a very strange situation where if there is an equal sign between "bounds" and the value and a scale option in the U

[2017-11-28 15:06] matzora opened #54 "HTTP error *** could not be created."
I am attempting to query data from Greyhound.

I have data produced by Entwine located at : /opt/data/greyhound/

example : /opt/data/greyhound/autzen/

I have a configuration file for greyhound located at : /opt/data/greyhound/greyhound-config.json

I start the greyhound container with the following commands and i got the same error when i go to this URL : http://localhost:8080/resource/autzen/in

[2017-11-28 19:15] connormanning commented on #53
The missing `=` behavior is a red herring here.  I'll look into that separately.  But the problem with your requests is that when you provide a `scale` or `offset` in your query, your `bounds` are expected to be scaled/offset accordingly.  This is a little confusing what you're trying to accomplish (i.e. "fetch these globally-referenced bounds, and scale the output by my specified scale"), and the

[2017-11-28 19:19] connormanning commented on #53
There's also a brief description of this behavior [here](https://github.com/hobu/greyhound/blob/master/doc/clientDevelopment.rst#transformation-options).

[2017-11-29 10:05] Hisol commented on #53
Hi,
  Thanks for the pointers, most useful.  I agree the missing `=` is a red herring, I suspect that this just quietly ignores the attribute and returns the full dataset.

I am not having much joy however.  I located a set of co-ordinates within my pointcloud using the co-ords of the camera position in PoTree.  When I set these as the offset and the scale factor to 0.0001 with the bounds scaled b

[2017-11-29 10:30] Hisol commented on #53
Hi,
Thanks for the pointers, most useful. I agree the missing = is a red herring, I suspect that this just quietly ignores the attribute and returns the full dataset.

I am not having much joy however. I located a set of co-ordinates within my pointcloud using the co-ords of the camera position in PoTree. When I set these as the offset and the scale factor to 0.0001 with the bounds scaled by the s

[2017-11-29 11:19] Hisol commented on #53
I have experimented further using the /static link and I am not sure if there is some bug here or not, but it looks like the offset isn't always in the same location or data is being clipped!  I have taken screenshots from within the browser so you can see the behaviour.  I was unable to go from a scale of 1 to 0.1 as 0.1 yielded no data, but it looks like as the scale changes the offset used drif

[2017-11-29 15:39] matzora commented on #54
It's ok ! i have understand whats going on.
I have wrong parameters to the "-v" option of docker run.

I use this command and it's works.

$ sudo docker run -it --name=greyhound -p 8080:8080 --network=webviewernetwork -v /opt/data/entwine/:/entwine  connormanning/greyhound

My data are correctly mounted to /entwine in my docker container.

[2017-11-30 18:24] connormanning commented on #53
@Hisol can you re-pull your container and try again using `nativeBounds` in place of `bounds`.  This should be more in line with the behavior you're expecting.

[2017-12-01 11:29] Hisol commented on #53
That returns me nothing at all.
I took the query as I have them above, which behave the same.  If I change `bounds` to `nativeBounds` and try them again I get "no points in query"

(this is after running pull on the image in docker and starting up container with `connormanning/greyhound:latest`)

[2017-12-01 17:04] connormanning commented on #53
@Hisol, to clarify, are you running your queries from the original posting or from the one just above?  With `nativeBounds`, your query bounds should always be the same and in the native space (for example as selected in Potree).  Any query with the same `nativeBounds` should return the same number of points.  When this parameter is used, any provided scale/offset values are applied on the way out

[2017-12-04 11:41] Hisol commented on #53
@connormanning Many thanks for this, I am able to progress with my project now, thanks.

[2017-12-04 11:41] #53 closed

[2017-12-08 10:20] Hisol opened #55 "Greyhound stops responding"
After upgrading Greyhound to be able to use the nativeBounds in queries we are now seeing issues where Greyhound will work for a period of time and then just stop responding.  The docker container is still there and running but Greyhound isn't doing anything.  Checking the logs of the container after it has been stopped and there is no error message.

If I kill the container and restart it, all is

[2017-12-08 19:52] connormanning commented on #55
I saw this a couple of times as well, and added some extra logging (as well as some unrelated enhancements) and haven't seen it since.  Can you try updating to the very latest Greyhound image which I've just pushed, and if you see this failure again, paste any error-like messages from the end of the server logs?

[2017-12-09 14:19] Hisol commented on #55
OK, have grabbed latest and restarted.  I doubt it will get much use over the weekend, but if I see any more lock ups etc I will paste errors etc here.  Thanks

[2017-12-11 13:20] Hisol commented on #55
Hi @connormanning Our Greyhound server stopped responding again after upgrading to the newer version.

I stopped the container with `docker stop` before starting up a fresh instance.  Checking output with `docker logs` shows no error messages, just the last few requests that it responded to.

[2017-12-11 13:34] Hisol commented on #55
I also just had the fresh restarted version die within 13 minutes of being started.. again, no error output just logs of last activity.

[2017-12-13 09:40] Hisol commented on #55
Sorry to keep bringing this up, have you made any progress with this yet? At the moment Greyhound is staying up for anything between 20 seconds and several hours, I have not yet seen any form of error message output.  Sometimes the problem occurs just after it has served data, some times it is when it is sweeping (from the output I can see).

Thanks

[2017-12-14 14:14] Hisol opened #56 "Filter argument sensative to quote type"
I am passing a filter in the Greyhound query to select just a subset of point classifications.  If the URL is sent as

I get a 400 error

But if I change the quotes around the operator to double quotes, it is happy

[2017-12-14 15:06] connormanning commented on #56
The `filter` parameter must be valid JSON, which does require double quotes around strings.  This should probably be stated in the docs - will add.

[2018-02-01 11:21] Hisol commented on #55
Have not seen this issue since your help, many thanks.

[2018-02-01 11:21] #55 closed

[2018-02-01 11:22] Hisol commented on #56
thanks for the update

[2018-02-01 11:22] #56 closed

[2018-02-09 14:00] matzora opened #61 "Ram never released with docker"
Hi @connormanning

I have a problem using greyhound docker.

Tested with version :
-latest
-1.1.1
-1.1
-1.0

I'm running the container using this :

docker run -it -p 8080:8080 -v /home/me/greyhound.conf:$HOME/greyhound.conf -v /home/me/entwine:/entwine connormanning/greyhound:1.1.1 -c $HOME/greyhound.conf.

My configuration file is :
{
    "cacheSize": "8 GB",
    "paths": ["/entwine"],
    "reso

[2018-02-09 14:09] #54 closed

[2018-02-15 10:19] matzora commented on #61
Up

[2018-02-23 20:31] connormanning commented on #61
Your cacheSize is quite large - this value doesn't represent the memory Greyhound is allowed to use, it just controls one specific cache for back-end data.  This should be correlated to, but not equal to, the allowable memory that Greyhound can use.  Yes, this is nonintuitive, but maybe try `cacheSize: "1 GB"` for slightly better usage.

That said, I do think that there's potentially an issue with

[2018-02-28 11:30] matzora commented on #61
Thanks for your answer.
I will try with 1GB cacheSize.

[2018-03-05 18:21] melezz opened #62 "Greyhound not reading entwine data"
Hello,

I have a native installation of greyhound/entwine in Ubuntu 16.04 (current versions of entwine/grehound). I indexed a two different sets of data via entwine, and I get a crash each time I try to access them via potree/plas.io. The ubuntu is a virtual machine:

Using default config
Settings:
        Cache: 209715200 bytes
        Threads: 4
        Resource timeout: 30 minutes
        Tmp d

[2018-03-05 18:22] melezz commented on #62
Sorry for the typo, here are the strikethrough lines:

Trying /greyhound: fail - Could not read file /greyhound/1239/entwine
        Trying ~/greyhound: Got error 11
terminate called after throwing an instance of 'std::logic_error'
  what():  basic_string::_M_construct null not valid
Abortado (`core' generado)

[2018-03-05 19:13] connormanning commented on #62
Is this a very old index?  If so, could you try reindexing the data with entwine?  If not, can you post a link or email me the point cloud file that causes this issue.

[2018-03-05 23:11] melezz commented on #62
Hello Connor, thanks a lot for the quick answer.
No, it's quite new, I used entwine for the indexing. I have the feeling that it is not a point cloud issue, I had exactly the same problem when I run the hello-world with red-rocks point cloud...Could it be an entwine/greyhound configuration problem? I installed it natively and I'm not quite sure that is working properly...I will post a link with th

[2018-03-06 01:50] connormanning commented on #62
I don't think it would be a configuration issue - looks like greyhound has no problem reading the file but doesn't like what's in it.  The only time I've seen that error is trying to read data indexed with pre-1.0 entwine.  You might try comparing your currently indexed output against that of the latest (or 1.2) entwine docker container and see if there's anything obviously different with the meta

[2018-03-06 13:11] aleksandrmelnyk opened #63 "Index not refreshed"
hi all,

We have run entwine build, it successfully generated index. Then we have run build with extended source data into same folder as previous. But greyhound still provides extent from previous index, new data/tiles not visible.

Any ideas what could it be?

[2018-03-07 18:42] melezz commented on #62
Yes, you are right, greyhound looks ok.
I am sure I am using entwine 1.2.0...I tried with the docker container and everything went right when indexing with the docker entwine engine as well.

It looks like I can't run greyhound with docker-compiled indexes or vicersa (i.e. point cloud indexed in docker and run with native greyhound installation)?  I get these:
- native entwine index + docker greyh

[2018-03-07 19:17] connormanning commented on #62
The main metadata file is called simply `entwine` at the top level of the output.  What version is your PDAL build - presumably 1.6?

[2018-03-07 19:29] melezz commented on #62
Thanks Connor, I will do the comparition
yes, PDAL is 1.6

[2018-03-07 23:08] connormanning commented on #61
This should be better with the latest docker container.

[2018-03-07 23:08] #61 closed

[2018-03-07 23:09] connormanning commented on #63
You'll need to relaunch Greyhound if you add to an index - it doesn't monitor for changes.

[2018-03-07 23:09] #63 closed

[2018-04-11 15:28] hobu opened #64 "Implement STAC catalog metadata"
https://github.com/radiantearth/stac-spec seems well aligned with Greyhound's existing metadata, and it would be best to produce something that other clients will be able to consume without development of additional special software.

I propose that Greyhound implement the STAC Catalog API and Entwine/EPT implement the Static Catalog.

[2018-04-12 02:57] mghildiy opened #65 "Greyhound docker image not working as expected on Windows 10"
Hi,

I am following [link](https://greyhound.io/administration.html#native-installation).

When I try to access links:
http://speck.ly/?s=http://localhost:8080/&r=autzen
http://potree.entwine.io/data/custom.html?s=localhost:8080&r=autzen

I just see a black screen with no display.
On shell, I see this:

Using default config
Settings:
        Cache: 209715200 bytes
        Threads: 4
        Resour

[2018-04-17 14:58] bhavin266 opened #66 "Greyhound server stops giving with error "Backtrace functionality was not linked" on AWS"
Hi,
I am running a greyhound server on AWS's m4.xlarge with entwine index hosted on s3 bucket. Have configured greyhound with cacheSize=2GB. The server keeps failing intermittently giving the following error.
Sweeping <RESOURCE_ID>...Got error 11
Backtrace functionality was not linked

 Currently I have only 3 resources indexed in s3. Below are the logs from couple of failures:

RESOURCE_1/info: 1

[2018-06-14 10:18] zhan520 opened #67 "I was set up test but I got the error"
![image](https://user-images.githubusercontent.com/12770958/41963846-2a022b5a-7a2b-11e8-9840-876e7e409d7f.png)

[2018-06-15 07:43] zhan520 commented on #67
![image](https://user-images.githubusercontent.com/12770958/41456329-b166e2d4-70b2-11e8-8b0f-308ace3fb99f.png)
I have got some progress, and changed the version after got the error as shown in figure, I don't know what did I do wrong

[2018-06-15 08:56] zhan520 commented on #62
Can you solve it, if solved please let me know how to solve, I also in doing this, whatever you do I get 11 error

[2018-07-11 07:21] mangalbhaskar opened #68 "greyhound cmake build fails with latest entwine"
On Ubuntu 16.04 LTS and 18.04 LTS, I'm trying to spun the build with following in place:
- PDAL-1.7.1 - installed successfully
- entwine - latest git clone  - installed successfully
- greyhound - compilation errors

**Following is the error on using cmake build process:**
[code]
* If comments the above line, following error is thrown:
[code]
* If comments the above line also, lots of other errors

[2018-07-11 16:19] connormanning commented on #68
I've updated the Greyhound readme with the new workflow (which is: there is no Greyhound involved with the current Entwine workflow): 36ffcf4a348312bd157b9d3e669fbf3e4acf7db6

[2018-07-11 16:19] #68 closed

[2018-07-11 16:19] connormanning commented on #67
See updated readme: 36ffcf4a348312bd157b9d3e669fbf3e4acf7db6

[2018-07-11 16:19] #67 closed

[2018-07-11 16:21] connormanning commented on #66
Perhaps the invalid chunk above caused the issue - hard to say.  Either way, the new Entwine workflow (without Greyhound) is preferred: https://github.com/connormanning/entwine

[2018-07-11 16:21] #66 closed

[2018-07-11 16:22] #62 closed

[2018-08-28 15:27] swiss-knight opened #69 "Trying /opt/data: fail - Could not read file /opt/data/PointCloud/entwine"
When running greyhound with docker on Ubuntu I encountered some 'Could not read file' messages and nothing is displayed in the browser on the host machine. The most interesting of these messages is:

`Trying /opt/data: fail - Could not read file /opt/data/PointCloud/entwine`

Here is the docker command used:
`docker run --rm --name greyhound -it -v ${HOME}/data/entwine:/opt/data -p 8181:8080 conno

[2018-08-28 15:30] connormanning commented on #69
Please follow the instructions in [Entwine's readme](https://github.com/connormanning/entwine).  As mentioned in the "NOTE" section in this repository, Greyhound is not used in the visualization workflow.

[2018-08-28 15:30] #69 closed, assigned to nobody

[2018-08-28 16:19] swiss-knight commented on #69
Thanks a lot connormanning!

Anyway, when trying with` http-server` it works, but only with potree.
Plas.io (i.e. speck.ly) doesn't show up the cloud, it redirects to some remote data of NYC and complains not finding an `info` file.

So, if I understood;
- I must not use greyhoud anymore as a server,
- and I must only potree for visualizing a point cloud built with entwine.

[2018-08-28 16:27] connormanning commented on #69
You can still use plasio - but it uses a new URL format for EPT data.  At the time that the readme was updated, plasio was not yet updated to this new format - I've added it to the readme instructions now.

[2018-10-15 16:24] rmam-spinworks commented on #65
I can confirm this problem with Ubuntu 16.04.

[2018-10-16 11:41] rmam-spinworks opened #70 "Release Dockerfile"
I've noticed that [greyhound's page on Docker Hub](https://hub.docker.com/r/connormanning/greyhound/) doesn't provide the Dockerfile used to generate the image.  It would be great if that file was made available to enable prospective users to check how the image was built, help debug issues such as #65, and even learn how to use docker.

[2018-10-30 09:31] rmam-spinworks opened #71 "Explicitly add entwine as a dependency"
Although greyhound's cmake build doesn't perform any version check on entwine, greyhound's source code includes header files from entwine that were removed from the project immediately after the v1.3.0 tag was set, which is in line with [this announcement from entwine](https://github.com/connormanning/entwine/pull/98).

Currently, [greyhound's Readme.md](https://github.com/hobu/greyhound/blob/mast

[2018-11-08 11:36] jo-chemla commented on #71
Hello, just needed a clarification. When you talk about mothballing greyhound, what will be the standard way to vizualize EPT tiled pointclouds? Same as today, plas.io or Potree or Cesium? Is there a preferred one - are potree and cesium more like Proof of Concepts today? Will greyhound still be used as mentionned [on the repo](https://github.com/connormanning/entwine/pull/98) more as a processing

[2018-11-08 13:18] hobu commented on #71
Potree or PlasioJS will be two browser-based ways. We hope that others such as CloudCompare and commercial tools will implement the EPT API.

I made a note on scoping of the projects you can find at https://github.com/PDAL/PDAL/issues/2218#issuecomment-429851988

[2018-11-08 13:58] rmam-spinworks commented on #71
@hobu sorry for going off on a tangent, but I've noticed you didn't mentioned Cesium.  Are there any plans to support the EPT API in Cesium?

[2018-11-08 14:03] hobu commented on #71
There is an `entwine convert` tool to convert EPT data to Cesium 3DTiles (requires a full data rewrite and probably doesn't scale past 10-20 billion points), and there is also https://github.com/commaai/entium. One could write a Cesium patch to support EPT directly, but that is not a topic we are working on at the moment. Another option would be for Cesium to adopt EPT as its access pattern for "d

[2018-11-08 14:20] rmam-spinworks commented on #71
@hobu yeah that's reasonable.  Thanks for the headsup and keep up the good work.

[2018-12-20 11:14] nicolas-chaulet opened #72 "Support for EPT format"
Hi all,
We are very interested in the pdal/entwine/greyhound suite and thanks @hobu for the clarification regarding scope, makes total sense. I can still see use cases where greyhound comes in handy (as you mentioned) and we would actually like to have such service in place in order to abstract the logic for reading sections of a point cloud or grabbing a certain resolution. It does not seem that

[2018-12-20 13:25] hobu commented on #72
Presumably by support EPT, you mean for Greyhound to be able to serve data over top of EPT datasets. We have some desire for this too, it hasn't moved high enough up the queue at the moment. It should not be that difficult to achieve. Entwine's previous organization that Greyhound is using is not so significantly different than EPT.

There's another EPT support thread which is Greyhound **reflecti

[2018-12-20 13:34] nicolas-chaulet commented on #72
Thanks for you answer.

I see that data is read using entwine's data reader actually. So I guess most of the changes should happen in entwine itself (if that hasn't happened already), correct?

That's really the kind of use case that we have in mind, having said that, do you feel that it is still a good idea to leverage the existing code base of Greyhound? Or are we talking about something that wo

[2018-12-20 13:47] hobu commented on #72
@connormanning would have to comment, but I think most of the changes would be in Greyhound's "Entwine reader" implementation need to adapt to EPT.

The case for keeping Greyhound includes:

* The API is really simple (bounding cube and depth). For "heavier" applications, this is really useful
* Greyhound has support for pushing data back into the tree. We still want software that can orchestrate

[2018-12-20 14:05] jw3 commented on #72
Here is a quickly hacked together example using the ept branch updated for recent 2.0 entwine https://github.com/jw3/greyhound/tree/jw3/ept

It will be slightly behind latest but should update easy enough.  Was having problems with binary backend but that might have been an entwine issue that was fixed up.  Otherwise worked well enough for proof of concept.

[2019-02-12 21:25] sunapi386 commented on #71
I'm trying to build greyhound and ran into this issue as well, that greyhound has dependencies to entwine, despite not being mentioned on the [administration page](https://greyhound.io/administration.html).
[code]
It seems as greyhound is indeed getting mothballed/neglected.

I'm looking at greyhound to provide an API layer for supporting clients that may query TBs of points samples. I was thinkin

[2019-06-27 06:56] pewixg3 opened #73 "Begining with greyhound"
Hi

I need to set up a greyhound server but I do not know anything

is there a step-by-step tutorial?
Thank you

[2019-06-27 12:30] hobu commented on #73
Greyhound is a project that is now considered in no-development maintenance mode. If you are just starting out and all you want to do is organize data for visualization and processing, [Entwine](https://entwine.io) and [Entwine Point Tile](https://entwine.io/entwine-point-tile.html) is sufficient by itself to do that task without Greyhound at all.

[2019-06-27 12:30] #73 closed, assigned to nobody